{% extends "layout.html" %}

{% block title %}Edit post{% endblock %}

{% block content %}

<h1>Edit post</h1>
<form action="/update_post" method="post">
<p>
  Your friend's name <br />
  <input type="text" name="title" value="{{ post.title }}" maxlength="50" required/>
</p>
<p>
  What to include in your post: <br />
  <ul>
    <li> How and when you and your friend met </li>
    <li> What common interests and/or hobbies you have </li>
    <li> Your favorite memory together </li>
    <li> A nickname for your friend </li>
    <li> Your favorite thing about them </li>
    <li> One thing you want to experience together </li>
    <li> A small message to your friend </li>
  </ul>
  <textarea name="description" rows="15" cols="67" maxlength="3000" required>{{ post.description }}</textarea>
  </p>
  <input type="hidden" name="post_id" value="{{ post.id }}" />
  {% for class in all_classes %}
  <p>
    {{ class }}: <br />
    <select name="classes">
      <option value="">(select)</option>
    {% for option in all_classes[class] %}
      {% if classes[class] == option %}
      <option value="{{ class }}:{{ option }}" selected>{{ option }}</option>
      {% else %}
      <option value="{{ class }}:{{ option }}">{{ option }}</option>
      {% endif %}
    {% endfor %}
    </select>
  </p>
  {% endfor %}
  <input type="submit" value="Update post" size="10" />
  <input type="submit" name="back" value="Go back to the post">
</form>

{% endblock %}
