{% extends "layout.html" %}

{% block title %}Me and {{ post.title }}{% endblock %}

{% block content %}

  <h1>Me and {{ post.title }}</h1>
  
  {% if images %}
    <p>
    Added images:
    </p>
    
    <form action="/remove_images" method="post">
      {% for image in images %}
      <input type="checkbox" name="image_id" value="{{ image.id }}">
      <img src="/image/{{ image.id }}" />
      {% endfor %} <br />
      <input type="hidden" name="post_id" value="{{ post.id }}"><br />
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <input type="submit" value="Remove selected images" />
    </form>
    
  {% else %}
    Your post has no images.
  {% endif %}

  <h2>Add a new image:</h2>
  <p> Make sure the image is a PNG and not bigger than 100 * 1024 </p>
  <form action="/add_image" method="post" enctype="multipart/form-data">
    <p>
      Image: <input type="file" name="image" accept=".png" />
    </p>
    <input type="hidden" name="post_id" value="{{ post.id }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Send" />
  </form>
  <p>
    <a href="/post/{{ post.id }}">Go back to the post</a>
  </p>

{% endblock %}
