<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <h1>FriendBook</h1>
  
  {% if session.username %}
  <p>
    ‪Welcome {{ session.username }}, your ID number is {{ session.user_id }}
  </p>
  <p>
    ‪○ <a href="/logout">Log out</a> ‪○
    <a href= "/new_post">Make a new post</a> ‪
  </p>
  {% else %}
  <p>
    ‪○ <a href="/login">Login</a> ‪○
      <a href="/register">Register</a> ‪
  </p>
  {% endif %}

  <p>
    ‪○ <a href= "/find_post">Search for a post</a> ‪○
      <a href="/">Go back to homepage </a> 
  </p>

  {% for message in get_flashed_messages() %}
  <p>
    <div class="flash"><b>{{ message }}</b></div>
  </p>
  {% endfor %}

  {% block content %}{% endblock %}

</body>

</html>
