{% extends "layout.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

  <h1>{{ post.title }}</h1>
  {% if classes %}
      {% for class in classes %}
      <p>♡ {{ class.value }}</p>
      {% endfor %}
  {% endif %}
  
  {% if session.user_id == post.user_id %}
  <p>
    ○ <a href="/edit_post/{{ post.id }}">Edit</a> ○
    <a href="/remove_post/{{ post.id }}">Remove</a> ○
    <a href="/images/{{ post.id }}">Add pictures</a>
  </p>
  {% endif %}
  <div class="description">
  <p>
    {{ post.description }}
  </p>
  </div>

  {% for image in images %}
  <img class="postpic" src="/image/{{ image.id }}" />
  {% endfor %}

  <p>
    By user <a href="/user/{{ post.user_id }}">{{ post.username }}</a>
  </p>
  <h2>Comments</h2>
    {% for comment in comments %}
    <div class="comments"><a href="/user/{{ comment.user_id }}">{{ comment.username }}</a>: {{ comment.comment }}</div>{{ comment.time }}
    <br>
    {% endfor %}
  <form action="/create_comment" method="post">
    Comment: <br />
    <textarea name="comment" rows="3" cols="30" maxlength="200" required></textarea> <br />
    <input type="hidden" name="post_id" value="{{ post.id  }}"> <br />
    <input type="submit" value="Post comment" /> 

{% endblock %}
